<script src="https://giscus.app/client.js"
        data-repo="muzhi1991/digitalgarden"
        data-repo-id="R_kgDONbcY9g"
        data-category="Announcements"
        data-category-id="DIC_kwDONbcY9s4ClJ1R"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
